@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/*
IMPORTANT INSTRUCTIONS

1. Inverted media queries

Student intranet was build in 2010's.
This isn't a mobile-first website. That's why we decided to use max-width media query based instead of min-width


2. Breakpoints choices

Student intranet works with boostrap 2, we'll use the same breakpoints.
As it's an old version of bootstrap, I decided to add a custom breakpoint mixin for nowadays usages

*/
body.devinci-custom {
  background-color: #EEF0F8;
  font-family: "Poppins", sans-serif;
}
body.devinci-custom a {
  color: #000000;
  transition: 0.3s;
}
body.devinci-custom a:hover, body.devinci-custom a:focus {
  color: #6758a2;
  text-decoration: none;
}
body.devinci-custom table.table-bordered {
  border: none;
}
body.devinci-custom table td {
  border: none;
  vertical-align: middle;
  padding: 8px;
}
body.devinci-custom .navbar-blue.social-navbar {
  position: static;
  margin: 20px 20px 0 300px;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner {
  background-color: #ffffff !important;
  box-shadow: none !important;
  border-radius: 0.42rem 0.42rem 0 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  display: flex;
  justify-content: space-between;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid > * {
  float: none;
  width: calc(100% / 3);
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid > *:nth-of-type(2) {
  text-align: center;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .navigation-sidebar {
  color: #6758a2;
  padding: 10px 20px 10px 0;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .navigation-sidebar:hover {
  cursor: pointer;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .navigation-sidebar i {
  font-size: 20px;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .navigation-sidebar i.icon-align-justify::before {
  content: "";
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .brand {
  text-shadow: none !important;
  color: #000000 !important;
  font-weight: 500;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .nav.pull-right {
  float: none;
  display: flex;
  justify-content: flex-end;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .nav.pull-right > li {
  float: none;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .nav.pull-right > li.divider-vertical {
  border-left-color: #6758a2 !important;
  border-right-color: #6758a2 !important;
  border-width: 1px;
}
body.devinci-custom .navbar-blue.social-navbar .navbar-inner .container-fluid .nav.pull-right > li > a {
  text-shadow: none !important;
  color: #000000 !important;
  font-weight: 500;
}
body.devinci-custom #footer.footer-sidebar-full {
  display: none;
}
body.devinci-custom #main {
  padding-bottom: 0;
  margin-left: 300px;
  margin-top: 20px;
  margin-right: 20px;
}
.sidebar-full body.devinci-custom #main {
  margin-left: 300px;
}
body.devinci-custom #main .schoole_pastil {
  background: none;
  border: none;
  display: none;
}
body.devinci-custom #main .page-title {
  font-weight: 600;
  text-align: center;
  color: #6758a2;
  font-size: 28px;
  margin-top: 20px;
}
body.devinci-custom #main .breadcrumb {
  border: none;
  box-shadow: none;
  text-align: center;
  padding-top: 0;
  margin-bottom: 20px;
  background: none;
}
body.devinci-custom #main .breadcrumb a {
  color: #7e7e7e;
}
body.devinci-custom #main .breadcrumb a i {
  display: none;
}
body.devinci-custom .social-sidebar {
  background-color: #6758a2;
  border-right: none;
  margin: 20px;
  border-radius: 20px;
  box-shadow: none;
}
body.devinci-custom .social-sidebar span {
  font-weight: 500;
}
body.devinci-custom .social-sidebar .user {
  box-sizing: border-box;
  background-color: #6758a2;
  color: #ffffff;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: auto;
  max-height: none;
  border-radius: 20px;
  box-shadow: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
body.devinci-custom .social-sidebar .user .avatar {
  display: block;
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 3px solid #6758a2;
}
body.devinci-custom .social-sidebar .user i {
  display: none !important;
}
body.devinci-custom .social-sidebar .user span {
  text-align: center;
  text-transform: capitalize;
  display: block;
  font-size: 16px;
  margin: 10px auto;
}
body.devinci-custom .social-sidebar.sidebar-full {
  width: 260px;
}
body.devinci-custom .social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle {
  color: #ffffff;
  padding: 16px 20px;
  font-size: 16px;
  background-color: #6758a2;
  transition: all 0.3s;
}
body.devinci-custom .social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle span {
  margin-left: 10px;
  font-weight: 300;
}
body.devinci-custom .social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle img {
  display: none;
}
body.devinci-custom .social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle:hover {
  background-color: #ffffff;
  color: #6758a2;
}
body.devinci-custom .social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle::after {
  content: none;
}
body.devinci-custom .social-sidebar .social-sidebar-content::after {
  content: "ALV Online \a 2021 © Léonard de Vinci";
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  white-space: pre;
  font-weight: 300;
}
body.devinci-custom .main-menu {
  background: #6758A2;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: left;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
}
body.devinci-custom .main-menu .btn {
  background-image: none;
  border: none;
  text-shadow: none;
  color: white;
  font-size: 0.925rem;
  line-height: 1.35;
  border-radius: 0;
  background-color: transparent;
  padding: 20px;
  box-shadow: none;
  transition: all 0.3s;
}
body.devinci-custom .main-menu .btn:hover {
  color: #6758a2 !important;
  background: #ffffff !important;
}
body.devinci-custom .main-menu .btn:hover .caret {
  border-top: 4px solid #6758a2;
}
body.devinci-custom .main-menu .btn i, body.devinci-custom .main-menu .btn svg {
  margin-right: 8px;
}
body.devinci-custom .main-menu .btn .caret {
  border-top: 4px solid #ffffff;
  margin-left: 3px;
}
body.devinci-custom .main-menu .dropdown-menu {
  background-color: #6758a2;
}
body.devinci-custom .main-menu .dropdown-menu a {
  color: #ffffff;
  text-align: left;
}
body.devinci-custom .btn-default {
  background-color: #e8e8e8;
  color: #1c1c1b;
  border: none;
  text-shadow: none;
  font-weight: 500;
  background-image: none;
}
body.devinci-custom .alert {
  background: #f3edfa !important;
  color: #6758a2;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.42rem;
  padding: 20px;
}
body.devinci-custom .alert-info {
  @extends .alert;
}
body.devinci-custom .alert-info .pull-right {
  float: none;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
body.devinci-custom .alert-info .pull-right .btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
body.devinci-custom .social-box {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.42rem;
  box-shadow: none;
}
body.devinci-custom .social-box header {
  border-radius: 1.375rem 1.375rem 0 0;
  padding: 10px 20px;
  background: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
body.devinci-custom .social-box header h4 {
  color: #1c1c1c;
  font-weight: 500;
}
body.devinci-custom .social-box header .tools {
  float: none;
}
body.devinci-custom .social-box header .tools .btn {
  margin-bottom: 0;
}
body.devinci-custom .social-box .body {
  padding: 10px 20px;
}
body.devinci-custom .social-box .social-box {
  box-shadow: none;
}
body.devinci-custom .social-box .social-box header {
  border-bottom: none;
}
body.devinci-custom.custom-notes .notes-main header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
body.devinci-custom.custom-notes .notes-main .body {
  padding: 0;
}
body.devinci-custom.custom-notes .notes-main .body .btn-group > .btn {
  border: none;
  background-color: #1c1c1c;
  color: #ffffff;
  background-image: none;
  text-shadow: none;
}
body.devinci-custom.custom-notes .notes-main .body .btn-group > .btn span {
  border-top: 4px solid #ffffff;
}
body.devinci-custom.custom-notes .notes-main .body .notes *:hover {
  color: #1c1c1b !important;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd > .dd-list > .dd-item > .dd-handle {
  background: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  border: none;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd > .dd-list > .dd-item .dd-list.notes-ue {
  padding: 10px 20px;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd > .dd-list > .dd-item .dd-list.notes-ue .dd-unite-student {
  background: none;
  border: none;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd > .dd-list > .dd-item .dd-list.notes-ue .dd-unite-student > .dd-handle {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding-left: 2px;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd > .dd-list > .dd-item .dd-list.notes-ue .dd-unite-student > .dd-handle::before {
  content: "Unité : ";
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd > .dd-list > .dd-item .dd-list.notes-ue .dd-unite-student > .dd-handle i {
  display: none;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list {
  padding-left: 0;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module * {
  float: none;
  pointer-events: none;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module *:not(:is(.badge, .label-inverse)) {
  color: #1C1C1C;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module:not(:last-child) {
  margin-bottom: 12px;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle {
  border: none;
  background: #EEF0F8;
  padding: 16px 20px;
  display: flex;
  flex-wrap: wrap;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle i {
  display: none;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .label:not(:is(.label-important)) {
  pointer-events: none;
  font-size: 12px;
  color: #1c1c1c;
  border: none;
  font-weight: 400;
  text-shadow: none;
  padding-left: 0;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .label:not(:is(.label-important))::before {
  content: "Moyenne obtenue : ";
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .label-important {
  font-weight: 600;
  background-color: #ff1c0e;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .label-inverse {
  font-weight: 400;
  padding: 7px 12px;
  margin-left: 10px;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .label-success[href] {
  background-color: #68cf29;
  text-shadow: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  pointer-events: all;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .text-info {
  pointer-events: none;
  font-size: 12px;
  color: #1c1c1c;
  border: none;
  font-weight: 400;
  text-shadow: none;
  padding-left: 0;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle > * {
  float: none;
  flex-basis: 50%;
  flex-grow: 1;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle > *:last-child {
  align-self: flex-start;
  text-align: right;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle > *:nth-child(even) {
  text-align: right;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .module-name {
  font-size: 16px;
  margin-bottom: 0;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .note_commentaire {
  background: none;
  text-align: left;
  font-style: normal;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .note_commentaire::before, body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .note_commentaire::after {
  content: '"';
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .badge, body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .badge.badge-important, body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .badge.badge-warning {
  margin-right: 0 !important;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 7px;
  font-weight: 600;
  background-color: #6758a2;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .badge.badge-warning {
  background-color: #ffac30;
}
body.devinci-custom.custom-notes .notes-main .body .notes .dd-unite-student .dd-list .dd-module .dd-handle .badge.badge-important {
  background-color: #ff1c0e;
}
body.devinci-custom.custom-notes .social-box .social-box {
  border: none !important;
}
body.devinci-custom.custom-notes table td:first-child, body.devinci-custom.custom-notes table td:nth-of-type(3) {
  display: none;
}
body.devinci-custom.custom-notes table td .btn {
  background: #6758a2;
  color: #ffffff;
  border-radius: 0.42rem;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 5px 12px;
  font-size: 14px;
}

/*# sourceMappingURL=main.css.map */
