#calendar {
  button {
    border: none;
    background-color: $color-primary;
    background-image: none;
    color: $color-light;
    text-shadow: none;
  }

  // Remove borders inside calendar
  .fc-minor > td {
    border: none;
  }

  .fc-today {
    //background-color: #9B92C2;
  }

  .fc-event {
    border-radius: 0;
    --color-devinci: #9E9E9E;
    background-color: var(--color-devinci) !important;


    &.edt_cmo {
      --color-devinci: #03A9F4;
    }

    &.edt_arch {
      --color-devinci: #FFC107;
    }

    &.salles_formeret {
      --color-devinci: #009688;
    }

    &.edt_pulv {
      --color-devinci: #9C27B0;
    }

    // HERE CONTENT OF COURSE
    .fc-content {
      height: 100%;
      padding: 12px;
      box-sizing: border-box;

      .fc-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        color: var(--color-white);
        text-align: left;
        font-size: 16px;
        font-weight: 600;

        .fc-time {
          order: -1;
        }
        .salle {
          order: -2;
        }
        .prof {
          order: 3;
        }

        .type_cours {
          display: none;
        }

        *:is(.salle) {
          color: var(--color-white);
          font-size: 13px;
          box-sizing: border-box;
        }

        *:is(.fc-time span, .prof) {
          font-weight: 400;
          font-size: 13px;
        }

        * {
          color: var(--color-white);
          text-align: left;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 3px;
  }
}

.edt-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 16px 0;

  &-card {
    padding: 8px 16px;
    color: var(--color-white);
    background-color: var(--color-devinci);
    border-radius: 8px;

    &.arche {
      --color-devinci: #FFC107;
    }
    &.online {
      --color-devinci: #03A9F4;
    }
    &.pole {
      --color-devinci: #9C27B0;
    }
    &.formeret {
      --color-devinci: #009688;
    }
    &.nd {
      --color-devinci: #9E9E9E;
    }
  }
}