.alert {
  background: var(--color-white) !important;
  color: var(--color-devinci);
  border: none !important;
  //border: 1px solid rgba(0,0,0,0.15) !important;
  border-radius: 0.32rem;
  padding: 20px;

  &-info {
    @extends .alert;

    .pull-right {
      float: none;
      display: flex;
      gap: 10px;
      margin-bottom: 15px;

      // Used in covid alert-info
      .btn {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}