// ! main-menu class is injected by JS
// Officiel class on website is .tools (but several usuges...)
.main-menu {

}

.site-menubar.site-menubar-light {
  background-color: var(--color-iim);
  box-shadow: none;
}

.site-menubar-body {

}

.site-menubar-light .site-menu-item>a {
  color: var(--color-white);
  font-weight: 600;
  letter-spacing: 1px;
}
.site-menubar-light .site-menu-sub a {
  color: var(--color-devinci);
}