$color-primary: #6758a2;
$color-light: #ffffff;
$color-dark: #000000;
$color-warning: rgb(255, 172, 48);
$color-important: rgb(255, 28, 14);
$color-success: #68cf29;

$width-sidebar-menu: 260px;
$margin-main: $width-sidebar-menu;

$transition-default: all 0.3s;

$font-main: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

$shadow-default: rgba(0, 0, 0, 0.15);

:root {
    --color-primary: #6758a2;
    --color-devinci: #1c1c1b;
    --color-iim: #ef7d00;
    --color-white: #ffffff;
    --border-grey: rgba(170, 170, 170, 0.15);
}