$color-primary: #6758a2;
$color-light: #ffffff;
$color-dark: #000000;
$color-warning: rgb(255, 172, 48);
$color-important: rgb(255, 28, 14);
$color-success: #68cf29;

$width-sidebar-menu: 260px;
$margin-main: $width-sidebar-menu+40px;

$transition-default: all 0.3s;

$font-main: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

$shadow-default: rgba(0, 0, 0, 0.15);